{
  "extends": ["stylelint-config-standard-scss","stylelint-config-sass-guidelines"],
  "rules": {
    "max-nesting-depth": null,
    "selector-max-compound-selectors": null,
    "selector-pseudo-class-no-unknown": [ true, {
      "ignorePseudoClasses": ["host","global"]
    } ]
  }
}
